{{ define "main" }}
<div class="container framed">
    <header>
        <div class="icon exclamation"></div>

        <a href="{{ .Permalink }}">
            <time>
                {{ .Date.Format "Jan 02, 2006 03:04 PM" }}
            </time>
        </a>

        {{ $categories := (.GetTerms "categories") }}
        {{ if gt (len $categories) 0 }}

        {{ range $categories }}
        <a href="{{ .Permalink }}">#{{ .LinkTitle }}</a>
        {{ end }}

        {{ end }}

    </header>

    <hr class="golden" />

    {{ if .Title }}
    <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
    {{ end }}

    {{ .Content }}

    <p>
    <div class="icon potion-blue"></div>{{ partial "reply-by-email.html" . }}
    </p>

    {{ if .Site.Params.include_conversation }}
    <script type="text/javascript" src="https://micro.blog/conversation.js?url={{ .Permalink }}"></script>
    {{ end }}
</div>
{{ end }}