{{ define "main" }}
{{ range ( .Paginate (where .Site.RegularPages "Type" "post")).Pages }}

<div class="container framed">
    <header>
        <div class="icon exclamation"></div>
    
        {{ if .Title }}
        <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
        {{ end }}
    
        <a href="{{ .Permalink }}">
            <time>
                {{ .Date.Format "Jan 02, 2006 03:04 PM" }}
            </time>
        </a>
    </header>
	{{ .Content }}
</div>

{{ end }}
{{ partial "pagination.html" .}}
{{ end }}