{{ define "main" }}
<div class="container framed">
	<div style="display: grid; grid-column-gap: 15px; grid-row-gap: 15px; grid-template-columns: 32% 32% 32%;">

        {{- $list := where .Site.Pages ".Params.photos" "!=" nil -}}
        {{- $len := (len $list) -}}
        {{ range $index, $value := $list }}
            <a href="{{ .Permalink }}">
                {{ range first 1 .Params.photos }}
                    <img src="{{ . }}" style="border-radius: 5px;" class="pure-img" loading="lazy" />
                {{ end }}
            </a>
        {{ end }}
    
        </div>
</div>
{{ end }}